playbook-Extract_Indicators_From_File_-_Generic_v2.yml
description: |-
  Extracts indicators from a file.
  Supported file types:
  - PDF
  - TXT
  - HTM, HTML
  - DOC, DOCX
id: Extract Indicators From File - Generic v2
inputs:
- description: The file from which to extract indicators.
  key: File
  required: false
  value:
    complex:
      root: File
name: Extract Indicators From File - Generic v2
outputs:
- contextPath: Domain.Name
  description: Extracted domains.
- contextPath: Account.Email.Address
  description: Extracted emails addresses.
- contextPath: File.MD5
  description: Extracted MD5 hash.
- contextPath: File.SHA1
  description: Extracted SHA1 hash.
- contextPath: File.SHA256
  description: Extracted SHA256 hash.
- contextPath: IP.Address
  description: Extracted IP addresses.
- contextPath: File.Text
  description: The text or images extracted from the PDF file.
- contextPath: File.Producer
  description: The PDF file producer.
- contextPath: File.Title
  description: The title of the PDF file.
- contextPath: File.xap
  description: The xap of the PDF file.
- contextPath: File.Author
  description: The author of the PDF file.
- contextPath: File.dc
  description: The dc of the PDF file.
- contextPath: File.xapmm
  description: The xapmm of the PDF file.
- contextPath: File.ModDate
  description: The ModDate of the PDF file.
- contextPath: File.CreationDate
  description: The CreationDate of the PDF file.
- contextPath: File.Pages
  description: Number of pages in PDF file.
- contextPath: URL.Data
  description: List of URLs that were extracted from the PDF file.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 7c475fe8-ef6f-4203-8649-88c8ee1355a4
      iscommand: false
      name: ""
      version: -1
    taskid: 7c475fe8-ef6f-4203-8649-88c8ee1355a4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": -20
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isExists
      label: "yes"
    id: "1"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "2"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: |
        Checks if there is a file in the playbook input.
      id: 7d301230-7301-4a9c-879f-2e3b4366a3d7
      iscommand: false
      name: Is there a file?
      type: condition
      version: -1
    taskid: 7d301230-7301-4a9c-879f-2e3b4366a3d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 115
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    reputationcalc: 1
    scriptarguments:
      append: {}
      key:
        simple: File
      value:
        complex:
          root: inputs.File
    separatecontext: false
    task:
      brand: ""
      description: Set the input file into local context.
      id: 864c6f5e-7214-4a36-8c37-80f7057bd36e
      iscommand: false
      name: Set file to local context
      script: Set
      type: regular
      version: -1
    taskid: 864c6f5e-7214-4a36-8c37-80f7057bd36e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 350
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      id: cc0c7ac6-f764-47df-8f1e-cfbdcbd25c4e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: cc0c7ac6-f764-47df-8f1e-cfbdcbd25c4e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1680
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "5"
      - "7"
      - "9"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 94a70634-4521-42ed-8830-9673d9b25e1b
      iscommand: false
      name: Extract Indicators From Files
      type: title
      version: -1
    taskid: 94a70634-4521-42ed-8830-9673d9b25e1b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 510,
          "y": 535
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: ASCII text
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: news or mail
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Composite Document File V2 Document, No summary info
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: notContainsString
                    right:
                      value:
                        simple: message/rfc822
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "5"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "6"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks if there is a text-based file in context. Skips MSG and
        EML files.
      id: 5e2997db-65a5-49a7-8f9a-87892701e8fe
      iscommand: false
      name: Is there a text-based file?
      type: condition
      version: -1
    taskid: 5e2997db-65a5-49a7-8f9a-87892701e8fe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 92.5,
          "y": 700
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: ASCII text
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: news or mail
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Composite Document File V2 Document, No summary info
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: notContainsString
              right:
                value:
                  simple: message/rfc822
          root: File
          transformers:
          - operator: uniq
      maxFileSize: {}
    separatecontext: false
    task:
      brand: ""
      description: Extracts indicators from text-based files.
      id: ded29993-f01d-4b33-8a4a-9d2453eaab31
      iscommand: false
      name: Extract indicators from text-based file
      script: ExtractIndicatorsFromTextFile
      type: regular
      version: -1
    taskid: ded29993-f01d-4b33-8a4a-9d2453eaab31
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 92.5,
          "y": 950
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "7"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "8"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks if there is a PDF file in context.
      id: 542f7e7a-6978-480e-8356-cc7cda51a6d7
      iscommand: false
      name: Is there a PDF file?
      type: condition
      version: -1
    taskid: 542f7e7a-6978-480e-8356-cc7cda51a6d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 700
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isEqualString
              right:
                value:
                  simple: application/pdf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: application/pdf
          root: File
          transformers:
          - operator: uniq
      maxImages: {}
      userPassword: {}
    separatecontext: false
    task:
      brand: ""
      description: Load a PDF file's content and metadata into context.
      id: dbdad3fa-957f-490b-8fb5-3a827687360b
      iscommand: false
      name: Extract indicators from PDF file
      script: ReadPDFFileV2
      type: regular
      version: -1
    taskid: dbdad3fa-957f-490b-8fb5-3a827687360b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 950
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Composite Document File V2 Document
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Microsoft Word
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xls
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsx
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Excel
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "9"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "11"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: 6a791d6e-4678-44c7-8783-dad7ff0afdd3
      iscommand: false
      name: Is there a Word file?
      type: condition
      version: -1
    taskid: 6a791d6e-4678-44c7-8783-dad7ff0afdd3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 510,
          "y": 700
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: c552720b-f6fc-49be-8c2a-1beb7178c737
      iscommand: false
      name: No File To Parse
      type: title
      version: -1
    taskid: c552720b-f6fc-49be-8c2a-1beb7178c737
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -350,
          "y": 900
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Composite Document File V2 Document
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Microsoft Word
            - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: doc
            - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: docx
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xls
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsx
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Excel
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: ""
      description: Extracts indicators from word files (DOC, DOCX).
      id: 9fe7f253-7529-438f-871b-5eba2873f43d
      iscommand: false
      name: Extract indicators from Word file
      script: ExtractIndicatorsFromWordFile
      type: regular
      version: -1
    taskid: 9fe7f253-7529-438f-871b-5eba2873f43d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 950
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/png
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpeg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/gif
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "12"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "14"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks whether images were extracted from PDF files.
      id: 89a330ac-fde1-4324-8802-a6bd17d9375d
      iscommand: false
      name: Were images extracted?
      type: condition
      version: -1
    taskid: 89a330ac-fde1-4324-8802-a6bd17d9375d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1180,
          "y": 1310
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Image OCR
                root: modules
          operator: isExists
      label: "yes"
    id: "13"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "12"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks whether there is an active instance of the Image OCR integration
        enabled.
      id: 2d1ba725-7a79-4ea0-8c84-94ce9007608b
      iscommand: false
      name: Is Image OCR enabled?
      type: condition
      version: -1
    taskid: 2d1ba725-7a79-4ea0-8c84-94ce9007608b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 1120
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    reputationcalc: 2
    scriptarguments:
      entryid:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/png
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpeg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/gif
          root: File
          transformers:
          - operator: uniq
      langs: {}
    separatecontext: false
    task:
      brand: ""
      description: Extracts text from PNG, JPEG, and GIF image files, and uses auto-extract
        to get reputation for indicators.
      id: 9a4d578f-2723-4b9e-82c0-97bb5f7afccf
      iscommand: true
      name: Extract text from images
      script: '|||image-ocr-extract-text'
      type: regular
      version: -1
    taskid: 9a4d578f-2723-4b9e-82c0-97bb5f7afccf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 1490
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_14_yes": 0.55,
      "12_3_#default#": 0.34,
      "13_12_yes": 0.55,
      "13_3_#default#": 0.19,
      "1_10_#default#": 0.15,
      "5_10_#default#": 0.25,
      "7_10_#default#": 0.1,
      "9_10_#default#": 0.16
    },
    "paper": {
      "dimensions": {
        "height": 1765,
        "width": 2030,
        "x": -350,
        "y": -20
      }
    }
  }
